*{
    padding: 10px;
    margin: auto;
    

}

.container{
    background-image: linear-gradient(coral,orange,yellow);
    opacity: .8;
    max-width: 700px;
    position: absolute;
border-radius: 10px;
min-height: 92vh;

}

li{
    transition-property: background-color;
transition-duration: 1s;
}
li:hover{
    background-color: hsla(0, 0%, 100%, 0.384);
    border-radius: 20px;
    text-decoration: underline;
    font-size: larger;
    cursor: pointer;
    
    
}



