*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head{
    display: flex;
    justify-content: center;
    background-color: hsl(34, 66%, 33%,0.5);
    align-content: center;
}

body{
    background-image: linear-gradient(to right,rgb(234, 42, 42),orange,yellow);
}